<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="DefaultRedisPort" value="6379"/>
    <add key="DefaultRedisHost" value="redis://localhost"/>
    <add key="LeaderboardPageSize" value="25"/>
  </appSettings>
</configuration>
